In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import sql

In [20]:
df = pd.read_csv('diabetes.csv')

In [21]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [22]:
df = df[(df.Age > 50)]
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
...,...,...,...,...,...,...,...,...,...
719,5,97,76,27,0,35.6,0.378,52,1
734,2,105,75,0,0,23.3,0.560,53,0
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
763,10,101,76,48,180,32.9,0.171,63,0

In [23]:
def result(BMI):
    if BMI > 30:
        return 1
    elif BMI < 30:
        return 0

df['resultado'] = df['BMI'].map(result)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,resultado
8,2,197,70,45,543,30.5,0.158,53,1,1
9,8,125,96,0,0,0.0,0.232,54,1,0
12,10,139,80,0,0,27.1,1.441,57,0,0
13,1,189,60,23,846,30.1,0.398,59,1,1
14,5,166,72,19,175,25.8,0.587,51,1,0

In [24]:
df = df[(df.resultado == 1)]
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,resultado
8,2,197,70,45,543,30.5,0.158,53,1,1
13,1,189,60,23,846,30.1,0.398,59,1,1
24,11,143,94,33,146,36.6,0.254,51,1,1
30,5,109,75,26,0,36.0,0.546,60,0,1
39,4,111,72,47,207,37.1,1.390,56,1,1

In [25]:
df.to_csv("tratado")

In [27]:
df.shape

(43, 10)